:root{
    
    --width_base: 1920;
    --footer-background: #004A96;
    --bottom-footer: #003C78;
    --white-color: #fff;
}

ul{
    list-style: none;
    margin: 0;
}

.site-footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100vw;
    color: var(--white-color);
    background-color: var(--footer-background);
    // padding: 0 calc(100vw*(80 /var(--width_base)));
    padding-top: calc(100vw*(100 /var(--width_base)));

    .footer-content-1{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        gap: 36px;
        padding: 0 calc(100vw*(80 /var(--width_base)));
        padding-bottom:calc(100vw*(100 /var(--width_base)))  ;
        .footer-first-line{
            display: flex;
            flex-direction: column;
            width: calc(100vw*(500 /var(--width_base)));
            gap: 40px;
            .contact-redes{
                list-style: none;
                display: flex;
                margin: 0;
                gap: 10px;
            }

            .contact-info{
                list-style: none;
                display: flex;
                flex-direction: column;
    
                gap: 20px;
    
                li{
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    p{
                        margin: 0;
                        font-weight: 400;
                        font-size: calc(100vw*(16/var(--width_base)));
                    }
                }
            }
        }

        .footer-content-2{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            width: 100%;
    
    
            .footer-menu{
                .footer-menu--option1{
                    p{
                        display: none;
                    }
                    svg{
                        display: none;
                    }
                }
    
                ul{
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    gap: 17px;
                    li{
                        font-weight: 600;
                        font-size: calc(100vw*(18/var(--width_base)));
    
                    }
                }
            }
    
            .products-footer{
                .footer-menu--option2{
                    p{
                        display: none;
    
                    }
                    svg{
                        display: none;
                    }
                }

                ul{
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    gap: 17px;
                    li{
                        font-weight: 600;
                        font-size: calc(100vw*(18/var(--width_base)));
    
                    }
                }
            }
    
            .products-vale{
                .footer-menu--option3{
                    p{
                        display: none;
                    }
                    svg{
                        display: none;
                    }
                }

                ul{
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    gap: 17px;
                    li{
                        font-weight: 600;
                        font-size: calc(100vw*(18/var(--width_base)));
    
                    }
                }
            }

            .products-buy{

                ul{
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    gap: 17px;
                    li{
                        font-weight: 600;
                        font-size: calc(100vw*(18/var(--width_base)));
    
                    }
                }
            }
    
        }
    }

   .bottom-footer{
     background-color: var(--bottom-footer);
     color: var(--white-color);
     width: 100vw;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: calc(100vw*(16 /var(--width_base)));
     padding: calc(100vw*(61 /var(--width_base))) calc(100vw*(182 /var(--width_base)));

     .terminos-footer{

        ul{
            display: flex;
            gap: 59px;
        }

     }



   }
}

@media only screen and (max-width: 768px) {

    .footer-content-1{
        display: flex;
        flex-wrap: wrap;

        .footer-first-line{
            width: 100vw!important;

            div{
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .contact-info{
    
                li{
                    p{
                        margin: 0;
                        font-weight: 400;
                        font-size: calc(100vw*(60/var(--width_base)))!important;
                    }
                }
            }

        }

        .footer-content-2{
            display: flex;
            flex-direction: column;
            gap: 15px;

            .footer-menu{
                .footer-menu--option1{
                    display: flex;
                    align-items: center;
                    
                    p{
                        display: flex !important;
                        margin: 0;
                        
                    }
                    svg{
                        display: flex !important;
                    }
                }
    
                ul{
                    display: none !important;
                    flex-direction: column;
                    margin: 0;
                    gap: 17px;
                    li{
                        font-weight: 600;
                        font-size: calc(100vw*(18/var(--width_base)));
    
                    }
                }
            }
    
            .products-footer{
                .footer-menu--option2{
                    display: flex;
                    align-items: center;

                    p{
                        display: flex !important;
                        margin: 0;
                    }
                    svg{
                        display: flex !important;
                    }
                }

                ul{
                    display: none!important;
                    flex-direction: column;
                    margin: 0;
                    gap: 17px;
                    li{
                        font-weight: 600;
                        font-size: calc(100vw*(18/var(--width_base)));
    
                    }
                }
            }
    
            .products-vale{
                .footer-menu--option3{
                    display: flex;
                    align-items: center;
                    p{
                        display: flex !important;
                        margin: 0;
                    }
                    svg{
                        display: flex !important;
                    }
                }

                ul{
                    display: none!important;
                    flex-direction: column;
                    margin: 0;
                    gap: 17px;
                    li{
                        font-weight: 600;
                        font-size: calc(100vw*(18/var(--width_base)));
    
                    }
                }
            }

            .products-buy{

                ul{
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    gap: 17px;
                    li{
                        font-weight: 600;
                        font-size: calc(100vw*(50/var(--width_base)))!important;
    
                    }
                }
            }
        }

        
    }
    .bottom-footer{
        background-color: var(--bottom-footer);
        color: var(--white-color);
        width: 100vw;
        display: flex;
        justify-content: space-evenly!important;
        flex-wrap: wrap-reverse;
        align-items: center;
        font-size: calc(100vw*(65 /var(--width_base))) !important;
        padding: calc(100vw*(61 /var(--width_base))) calc(100vw*(182 /var(--width_base)));
        gap: 20px;
        div{
            
            justify-content: center!important;
            width: 100%;
            font-size: calc(100vw*(40/var(--width_base)))!important;
        }
        .terminos-footer{
   
           ul{
               display: flex;
               flex-direction: column;
               gap: 20px !important;
               font-weight: 650;
               font-size: calc(100vw*(40/var(--width_base)))!important;
           }
   
        }
   
   
   
      }

}


