.politicas-head{
    font-family: 'FuturaStd';
    .zig-zag {
        text-align: center;
        padding-top: calc(100vw*(30/var(--width_base)));
        padding-bottom: calc(100vw*(30/var(--width_base)));
        margin: 0;
        height: 290px;
        background-color: var(--dark-blue);
        --mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 90deg,#0000 91deg) 50% / 20px 100%;
        -webkit-mask: var(--mask);
                mask: var(--mask);
      }

}


.text-politicas{
    padding-top: calc(100vw*(73/var(--width_base)));
    padding-bottom: calc(100vw*(163/var(--width_base)));
    font-family: 'FuturaStd';
    font-weight: 400;

  }

  @media only screen and (max-width: 768px) {
    .politicas-head{
        font-family: 'FuturaStd';
        .zig-zag {
            text-align: center;
            font-size: calc(100vw*(250/var(--width_base)))!important;
            line-height: calc(100vw*(300/var(--width_base)))!important;
            padding-top: calc(100vw*(500/var(--width_base)))!important;
            padding-bottom: calc(100vw*(500/var(--width_base)))!important;
            margin: 0;
            height: 290px;
            background-color: var(--dark-blue);
            --mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 90deg,#0000 91deg) 50% / 20px 100%;
            -webkit-mask: var(--mask);
                    mask: var(--mask);
          }
    
    }
    
    
    .text-politicas{
        padding-top: calc(100vw*(73/var(--width_base)));
        padding-bottom: calc(100vw*(163/var(--width_base)));
        font-family: 'FuturaStd';
        font-weight: 400;
    
      }
  }