.banner_campanias {
  width: 100%;
  height: calculate(700);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  margin-top: calculate(150);
}

.div-part-text {
  display: flex;
  justify-content: space-between;
  margin-top: calculate(185);
  margin-bottom: calculate(110);
}

.div-text {
  display: flex;
  align-items: center;
}

.justificar {
  text-align: justify;
  color:var(--color-gris)
}

.mb-279{
    margin-bottom:calculate(279);
    margin-top:calculate(200);
}

.grid {
  line-height: 0;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.grid .grid-item {
    display: block;
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 10px;
}

.grid .grid-item img,video{
    width: 100% !important;
    height: 100% !important;
    border-radius: calculate(20);
}

.subdiv_part_text{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  h2{
    display:flex;
    gap:10px;
    align-items: baseline;
  }
  .img_part_text{
    position: absolute;
    width: calculate(200);
    height: auto;
    left: calculate(1140);
    top:calculate(110)
  }
}