
section{
    font-family: 'FuturaStd';
    .content-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: calculate(30);

        h2{
            text-align: center;
            color: var(--color-blue);
            font-size: calculate(72);
            font-weight: 700;
        }

        p{
            text-align: center;
            font-size: calculate(18);
        }

        .wpcf7 {
            form{
                display: grid;
                justify-items: center;
                gap: calculate(10);
                margin: auto;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(7, 1fr);
                width: calculate(908);
    
              div{
                  margin: 0;
                  width: calculate(445);
                  height: calculate(82);
                  p{
                    margin: 0;
                  }
                  
              }
              
              .name{
                grid-column-start: 1;
                grid-column-end: 2;
              }
              .distrito{
                grid-column-start: 1;
                grid-column-end: 3;
                width: calculate(908);
                input{
                    width: calculate(908);
                }
              }
              .comentarios{
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 4;
                grid-row-end: 6;
                width: 100%;
                height: calculate(121);
                textarea{
                    height: calculate(121);
                }
              }
              .politicas{
                display: flex;
                grid-column-start: 1;
                grid-column-end: 3;
                width: 100%;
                font-size: calculate(18);
                a{
                    text-decoration: underline;
                    font-weight: 600;
                }
              }
              .btn-enviar{
                grid-column-start: 1;
                grid-column-end: 3;
                width: 100%;
                input{
                    width: calculate(175);
                    height: calculate(62);
                    background-color: var(--color-red-btn);
                    border-radius: calculate(515);
                    font-size: calculate(18);
                    font-weight: 700;
                    text-align: center;
                    padding: 0 calculate(29);
                    padding-top: calculate(5);
                    padding-bottom: calculate(7);
                    transition: all .3s ease-in-out;
                    &:hover{
                        transition: all .3s ease-in-out;
                        background-color: var(--color-red-btn-hover);
                    }
                }
                span{
                    display: none;
                }
                
              }


            }
               
             
        }

    }

    .line-separate{
        display: flex;
        justify-content: center;
        margin-top: calculate(125); 
        margin-bottom: calculate(102);
        svg{
            width: calculate(1700);
            height: calcualte(4);
        }
    }

    .content-2{
        display: flex;
        flex-direction: column;
        margin-bottom: calculate(380);

        #accordion{
            display: flex;
            flex-direction: column;
            gap: calculate(24);
            div{
                display: flex;
                align-items: center;
                justify-content: space-between;

                span{
                    display: none;
                }

                h3{
                    font-size: calculate(25);
                        font-weight: 700;
                        margin: 0;
                        color: var(--color-gris);
                }
            }

        }

        




        h2{
            text-align: center;
            color: var(--color-blue);
            font-size: calculate(72);
            font-weight: 700;
            margin: 0;
            margin-bottom: calculate(77);
        }

        ul{
            display: flex;
            flex-direction: column;
            gap: calculate(24);
            li{

                display: flex;
                align-items: center;
                justify-content: space-between;
                border: solid 1px #BFD1E4;
                border-radius: calculate(8);
                padding: calculate(16) calculate(24);
                height: calculate(80);

                .text-preguntas{

                    h5{
                        font-size: calculate(25);
                        font-weight: 700;
                        margin: 0;
                    }

                    p{
                        display: none;
                    }

                }
                

            }
        }
    }
}