@media only screen and (max-width: 768px) {

  .section-encuentranos{
    .trabaja-head{
      height: calculate(300);
    }
    .content-movil{
      display: flex;
      flex-direction: column;
      width: 100%;
      .col-md-5{
        
        width: 100%;
        margin-top: calculate(50);
        .row-mrg-left{
          margin: auto;
          width: 100%;
          padding-left: calculate(15);
          padding-right: calculate(15);
          .content-select{
            width: 100%;
            flex-direction: column;
            .box-select{
              width: 100%;
              margin-right: 0px;
              select{
                height: calculate(40);
              }
              margin-bottom: calculate(10);
            }
            .input-control{
              width: 100%;
              height: calculate(40);
              margin-right: 0px;
              margin-bottom: calculate(10);
            }
          }

          
        }
        .list-results{
          .card{
            padding-left: calculate(15);
            .data-layer{
              .row-icons{
                gap: calculate(10);
                span{
                  font-size: calculate(13);
                }
              }
            }
          }
          .txt-info{
            right: 0;
          }
        }
      }
      .col-md-7{
        width: 100%;
        overflow-y: visible;
        height: auto;
        img{
          width: calculate(375);
          height: auto;
          margin: 0;
        }
      }
    }
  }
  .title-card {
    font-weight: 600 !important;
    font-size: calc(100vw * (calc(15/ var(--width_base)))) !important;
    line-height: calc(100vw * (calc(17 / var(--width_base))));
    margin-bottom: calc(100vw * (calc(10 / var(--width_base))))!important;
    width: 87%;
}
.data-layer p{
  font-size: calculate(14);
}
     .img-banner {
        display: none !important;
    }
    .info-card {
      padding: 20px 15px 20px 16px !important;
  }
  .list-results {
    height: auto !important;
    overflow-y: hidden !important; 
}
.close-card {
  text-decoration: underline;
  float: right;
  font-size: calculate(16);
}
.show-desk{
  display: none !important;
}
.show-res{
  display: flex !important;
}
.content-btn{
  flex-direction: column;
}
 .content-btn a{
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #db3f29;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 0;
  width: 100%;
  margin-bottom: 6px;
}
.content-btn a{
  margin-right: 0px !important;
}
}