@media only screen and (max-width: 768px) {

  .section-encuentranos{
    .trabaja-head{
      height: calculate(300);
    }
    .content-movil{
      display: flex;
      flex-direction: column;
      width: 100%;
      .col-md-5{
        
        width: 100%;
        margin-top: calculate(50);
        .row-mrg-left{
          margin: auto;
          width: calculate(355);
          .content-select{
            width: calculate(355);
            .box-select{
              width: calculate(110);
              select{
                height: calculate(40);
              }
            }
            .input-control{
              width: calculate(110);
              height: calculate(40);
              
            }
          }

          
        }
        .list-results{
          .card{
            padding-left: calculate(15);
            .data-layer{
              .row-icons{
                gap: calculate(10);
                span{
                  font-size: calculate(13);
                }
              }
            }
          }
          .txt-info{
            right: 0;
          }
        }
      }
      .col-md-7{
        width: 100%;
        overflow-y: visible;
        img{
          width: calculate(375);
          height: calculate(500);
          margin: 0;
        }
      }
    }
  }
  .title-card {
    font-weight: 600 !important;
    font-size: calc(100vw * (calc(15/ var(--width_base)))) !important;
    line-height: calc(100vw * (calc(17 / var(--width_base))));
    margin-bottom: calc(100vw * (calc(10 / var(--width_base))))!important;
    width: 87%;
}
.data-layer p{
  font-size: calculate(14);
}
     .img-banner {
        display: none !important;
    }
    .info-card {
      padding: 20px 15px 20px 16px !important;
  }
}