.time-line2{
    padding: calculate(20) calculate(0);
}
.line-time{
    position: relative;
}

.time-ul{
    position:relative;
}
.time-li:nth-child(odd){
    position: absolute;
    left: 20px;
}
.time-li:nth-child(even){
    position: absolute;
    left:40px;
}