.section_info_nosotros {
  font-family: "FuturaStd";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: calculate(150);

  .head_nosotros_mov {
    display: none;
  }
.img_nosotros{
  display: none
}
  .head_nosotros {
    position: relative;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    height: calculate(396);
    margin-top: calculate(140);
    margin-bottom: calculate(53);
    width: 100%;
    .semi-circulo-ban-nos {
      position: absolute;
      z-index: 1;
      width: calculate(742);
      height: calculate(359);
      bottom: calculate(0);
    }
    .semi-circulo-ban-nos2 {
      position: absolute;
      z-index: 2;
      width: calculate(522);
      height: calculate(239);
      bottom: calculate(0);
    }
    .img_people_nos {
      position: absolute;
      z-index: 3;
      width: calculate(528);
      height: auto;

      bottom: calculate(0);
    }
  }
  .div_h2_nos {
    position: relative;
  }
  h2 {
    margin-bottom: calculate(100);
  }

  .img_sub_nos {
    position: absolute;
    right: calculate(170);
    bottom: calculate(44);
    width: calculate(240);
    height: auto;
  }

  .p_dsc {
    width: calculate(814);
    text-align: justify;
  }
}

.titulo_box {
  margin-bottom: 0px !important;
  font-family: "FuturaStd";
  font-style: normal;
  font-weight: 600;
  font-size: calc(100vw * (48 / var(--width_base)));
  line-height: calc(100vw * (57 / var(--width_base)));
}

.titulo_box2 {
  margin-bottom: 0px !important;
  font-family: "FuturaStd";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw * (18 / var(--width_base)));
  line-height: calc(100vw * (27 / var(--width_base)));
}

.texto_box {
  margin-bottom: 0px !important;
  font-family: "FuturaStd";
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw * (18 / var(--width_base)));
  line-height: calc(100vw * (27 / var(--width_base)));
}

.section_MV_valores {
  display: flex;
  margin-bottom: calculate(30);
  .container_misionvision,
  .container_valores {
    padding: calculate(30);
    display: flex;
    flex-direction: column;
    gap: 15px;
    .div_misionvision {
      background-color: var(--color-celeste-light);
      height: calculate(280);
      width: calculate(634);
      padding: calculate(71);
      border-left: 6px solid #96daea !important;
      .texto_box {
        color: var(--color-plomo);
      }
      .div_inside {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-bottom: calculate(10);
        svg {
          width: calculate(52);
        }
      }
    }
    .div_valores {
      background-color: var(--color-celeste-light);
      height: calculate(583);
      width: calculate(899);
      padding: calculate(71);
      border-left: 6px solid #96daea !important;
      .texto_box {
        color: var(--color-plomo);
      }
      .div_inside {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-bottom: calculate(10);
        svg {
          width: calculate(52);
        }
      }
      ul {
        margin-top: calculate(37);
        li {
          display: flex;
          gap: calculate(19);
          margin-bottom: calculate(30);
        }
      }
    }
  }
}

.titulo_card {
  margin-bottom: 0px !important;
  font-family: "FuturaStd";
  font-style: normal;
  font-weight: 600;
  font-size: calc(100vw * (25 / var(--width_base)));
  line-height: calc(100vw * (42 / var(--width_base)));
}
.texto_card {
  margin-bottom: 0px !important;
  font-family: "FuturaStd";
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw * (16 / var(--width_base)));
  line-height: calc(100vw * (27 / var(--width_base)));
}

.section_conoce {
  background-color: var(--color-blue);
  padding: calculate(186) calculate(182);
  display: flex;
  .div_conoce {
    width: calculate(778);
    align-items: center;
    margin-top: 10%;
    .p_divConoce {
      width: calculate(685);
    }
    .div_h2_img_conoce {
      position: relative;
      margin-bottom: calculate(120);
      .img_sub_h2_conoce {
        position: absolute;
        right: calculate(450);
        bottom: calculate(-100);
        width: calculate(229);
        height: auto;
      }
    }
  }
  .div_conoce_list {
    width: calculate(778);
    display: flex;
    flex-wrap: wrap;
    gap: calculate(10);
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: auto;
    .subdiv_conoce_list {
      display:flex;
      gap:calculate(10);
      .card_conoce_square1,
      .card_conoce_square2 {
        background-size: cover;
        width: calculate(384);
        height: calculate(344);
        border-radius: calculate(16);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: calculate(16);
        gap: calculate(10);
      }
    }    
    .card_conoce_rectangle {
      background-size: cover;
      width: calculate(778);
      height: calculate(344);
      border-radius: calculate(16);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: calculate(16);
      gap: calculate(10);
    }
  }
}
.section_politicas {
  text-align: center;
  padding-top: calculate(120);
  margin-bottom: calculate(30);
  .div_btn_politicas {
    margin-top: calculate(40) !important;
    display: flex;
    width: calculate(844);
    height: auto;
    margin: auto;
    gap: calculate(20);
    .btn-azul {
      gap: calculate(10);
    }
  }
}
