.section_info_nosotros {
  font-family: "FuturaStd";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: calculate(150);

  picture {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .head_nosotros {
    position: relative;
    width: 100%;
    height: calculate(550);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    margin-bottom: calculate(53);

    .semi-circulo-ban-nos {
      position: absolute;
      z-index: 1;
      width: calculate(722);
      height: calculate(339);
      bottom: calculate(0);
    }

    .semi-circulo-ban-nos2 {
      position: absolute;
      z-index: 2;
      width: calculate(528);
      height: calculate(242);
      bottom: calculate(0);
    }

    .img_people_nos {
      position: absolute;
      z-index: 3;
      width: calculate(530);
      height: auto;

      bottom: calculate(0);
    }
  }

  .div_h2_nos {
    position: relative;
    padding-top: calculate(70);
  }

  h2 {
    margin-bottom: calculate(100);
  }

  .img_sub_nos {
    position: absolute;
    right: calculate(170);
    bottom: calculate(44);
    width: calculate(240);
    height: auto;
  }

  .p_dsc {
    width: calculate(814);
    text-align: justify;
  }
}

.titulo_box {
  margin-bottom: 0px !important;
  font-family: "FuturaStd";
  font-style: normal;
  font-weight: 600;
  font-size: calc(100vw * (48 / var(--width_base)));
  line-height: calc(100vw * (57 / var(--width_base)));
}

.titulo_box2 {
  margin-bottom: 0px !important;
  font-family: "FuturaStd";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw * (18 / var(--width_base)));
  line-height: calc(100vw * (27 / var(--width_base)));
}

.texto_box {
  margin-bottom: 0px !important;
  font-family: "FuturaStd";
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw * (18 / var(--width_base)));
  line-height: calc(100vw * (27 / var(--width_base)));
}

.section_MV_valores {
  display: flex;
  margin-bottom: calculate(30);

  .container_misionvision,
  .container_valores {
    padding: calculate(30);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;

    .div_misionvision {
      background-color: var(--color-celeste-light);
      height: calculate(280);
      // width: calculate(634);
      padding: calculate(51) calculate(71);
      border-left: 6px solid #96daea !important;

      .texto_box {
        color: var(--color-plomo);
      }

      .div_inside {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: calculate(25);

        svg {
          width: calculate(52);
        }
      }
    }

    .div_valores {
      background-color: var(--color-celeste-light);
      width: calculate(899);
      padding: calculate(71);
      border-left: 6px solid #96daea !important;

      .texto_box {
        color: var(--color-plomo);
      }

      .div_inside {
        display: flex;
        justify-content: space-between;
        align-items: center;

        // margin-bottom: calculate(10);
        svg {
          width: calculate(52);
        }
      }

      ul {
        margin-top: calculate(37);

        li {
          display: flex;
          gap: calculate(19);
          margin-bottom: calculate(30);
        }
      }
    }
  }
}

.titulo_card {
  margin-bottom: 0px !important;
  font-family: "FuturaStd";
  font-style: normal;
  font-weight: 600;
  font-size: calc(100vw * (25 / var(--width_base)));
  line-height: calc(100vw * (42 / var(--width_base)));
}

.texto_card {
  margin-bottom: 0px !important;
  font-family: "FuturaStd";
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw * (16 / var(--width_base)));
  line-height: calc(100vw * (27 / var(--width_base)));
}

.section_conoce {
  background-color: var(--color-blue);
  padding: calculate(186) calculate(182);
  display: flex;

  .div_conoce {
    width: calculate(778);
    align-items: center;
    margin-top: 10%;

    .p_divConoce {
      width: calculate(685);
    }

    .div_h2_img_conoce {
      position: relative;
      margin-bottom: calculate(120);

      .img_sub_h2_conoce {
        position: absolute;
        right: calculate(450);
        bottom: calculate(-100);
        width: calculate(229);
        height: auto;
      }
    }
  }

  .div_conoce_list {
    width: calculate(778);
    display: flex;
    flex-wrap: wrap;
    gap: calculate(10);

    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: auto;
    .subdiv_conoce_list {
      display: flex;
      gap: calculate(10);

      .card_conoce_square1,
      .card_conoce_square2 {
        background-size: cover;
        width: calculate(384);
        height: calculate(344);
        border-radius: calculate(16);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: calculate(16);
        gap: calculate(10);
      }
    }

    .card_conoce_rectangle {
      background-size: cover;
      width: calculate(778);
      height: calculate(344);
      border-radius: calculate(16);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: calculate(16);
      gap: calculate(10);
    }
  }
}

.section_politicas {
  text-align: center;
  padding-top: calculate(120);
  margin-bottom: calculate(30);

  .div_btn_politicas {
    margin-top: calculate(40) !important;
    display: flex;
    width: calculate(844);
    height: auto;
    margin: auto;
    gap: calculate(20);

    .btn-azul {
      gap: calculate(10);
    }

    .btn-azul:hover {
      color: var(--color-celeste-light);
    }
  }
}

.icono_valor {
  width: calculate(50);
  height: calculate(50);
}
ul li .icono_valor {
  width: calculate(25);
  height: calculate(25);
}
.div_btn_politicas a svg{
  width: calculate(25);
  height: calculate(25);
}

.section_time_line {
  position: relative;
}

.btn-menos {
  position: absolute;
  right: calculate(1600);
  top: calculate(435);
}

.btn-mas {
  position: absolute;
  left: calculate(1600);
  top: calculate(435);
}


// TIME-LINE
.section_linea {
  position: relative;
  overflow: auto !important;
  height: calculate(900);
}

.section_linea::-webkit-scrollbar {
  display: none;
}

.timeline {
  // margin-top: calculate(35);
  padding-top: calculate(240);
}

.ul-time {
  margin-top: calculate(42);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}


.date {
  position: absolute;

  top: 30px;
  left: -50px;
  opacity: 0;
  transition: 1.5s;
  font-size: 12px;
}

.timeline-line {
  background: #BFD2E5;
  width: 4px;
  border-radius: 12px;
  //  position: relative;
  justify-self: end;
  margin-top: calculate(220);
}

.timeline-point {
  border: none;
  position: absolute;

  border-radius: 50%;
  background: #BFD2E5;
  width: 8px;
  height: 8px;

  top: 30px;
  left: -6px;
  transition: 1.5s ease;
}

.timeline-innerline {
  position: absolute;
  background: var(--color-blue);
  width: 4px;
  height: 0%;

  top: 0%;
  left: 0%;

  transition: 1s linear;
}

.p-textline {
  margin-bottom: 0px !important;
  font-family: "FuturaStd";
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw * (16 / var(--width_base)));
  line-height: calc(100vw * (24 / var(--width_base)));
  text-align: center;
}

.p-titleline {
  margin-bottom: 0px !important;
  font-family: "FuturaStd";
  font-style: normal;
  font-weight: 600;
  font-size: calc(100vw * (18 / var(--width_base)));
  line-height: calc(100vw * (27 / var(--width_base)));
  text-align: center;
}

@media screen and (min-width: 768px) {
  .timeline {
    display: block;
  }

  .ul-time {
    flex-direction: row;
    left: 0;
    position: absolute;

  }

  .li-time .legend .inLegend {
    padding: 5px 10px !important;
    transition: 1.5s !important;
  }

  .li-time:nth-child(odd) {
    margin-top: 0px;
    position: relative;
    width: 100%;
    padding: 0px;
    width: 300px;
    height: auto;
  }

  .li-time:nth-child(even) {
    margin-top: 0px;
    position: relative;
    width: 100%;
    padding: 0px;
    width: 300px;
    height: auto;
  }

  .li-time:nth-child(odd) .legend {
    transform: translateY(-10px);
    opacity: 0;
    // padding: 0 20px;
    transition: 1.5s;
  }

  .li-time:nth-child(even) .legend {
    transform: translateY(-10px);
    opacity: 0;
    // padding: 0 20px;
    transition: 1.5s;
    position: absolute;
    top: calculate(-310);
    left: calculate(0);
  }

  .date {
    opacity: 0;
    transition: 1.5s;
    font-size: 12px;

    position: absolute;
    top: -60px;
    left: 38%;
  }

  .li-time:nth-child(odd) .timeline-point {
    width:  calculate(15);
    height:  calculate(15);

    top: calculate(-52);
    left: calculate(200);
    transition: 1.5s ease;
  }

  .li-time:nth-child(even) .timeline-point {
    width:  calculate(15);
    height:  calculate(15);

    top: calculate(-142);
    left: calculate(200);
    transition: 1.5s ease;
  }

  .timeline-line {
    width: 100%;
    height: 4px;
  }

  .timeline-innerline {
    position: absolute;
    background: var(--color-blue);
    width: 0%;
    height: 4px;

    top: calculate(460);
    left: 0%;

    transition: 1s linear;
    border-radius: 999px;
  }

  .li-time:nth-child(odd) .legend .img-legend {
    width: calculate(300);
    height: calculate(250);
    position: absolute;
    top: calculate(120);
    left: calculate(40);
    background-size: cover;
  }

  .li-time:nth-child(even) .legend .img-legend {
    width: calculate(300);
    height: calculate(250);
    position: absolute;
    top: calculate(-280);
    left: calculate(40);
    background-size: cover;
  }

  .tex-legend {
    margin-top: 1px;
  }

  .legend {
    width: calculate(368);
    height: calculate(140);
    margin-bottom: calculate(40);
    background-color: transparent;
    border-radius: calculate(8);
    margin-left: calculate(20);
    margin-right: calculate(20);
  }

  .inLegend {
    width: 100%;
    height: auto;
    margin-bottom: calculate(40);
    background-color: var(--color-celeste-light);
    border-radius: calculate(8);
    margin-left: calculate(20);
    margin-right: calculate(20);
    display: flex;
  }

  .p-titleline {
    display: flex;
    align-items: center;
    padding-right: 5px;
  }
}