.politicas-head{
    font-family: 'FuturaStd';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calculate(100) calc(100vw*(300/var(--width_base)));
    margin-top: calculate(70)!important;

      h1{
        margin: 0;
        text-align: center;
        font-size: calc(100vw*(72/var(--width_base)));
      }
}

    
.zigzag {
    background-color: var(--dark-blue);
    position: relative;
    margin: 0;
    height: calculate(300);
}


.zigzag:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    background: linear-gradient(
        45deg,
        transparent 33.333%,
        var(--dark-blue) 33.333%,
        var(--dark-blue) 66.667%,
        transparent 66.667%
    ),
    linear-gradient(
        -45deg,
        transparent 33.333%,
        var(--dark-blue)33.333%,
        var(--dark-blue) 66.667%,
        transparent 66.667%
    );
    background-size: 15px 40px;
}

.zigzag:before {
    top: -10px;
}

.text-politicas{
    padding-top: calc(100vw*(150/var(--width_base)))!important;
    padding-bottom: calc(100vw*(163/var(--width_base)));
    font-family: 'FuturaStd';
    font-weight: 400;

  }



  @media only screen and (max-width: 768px) {
    .politicas-head{
        font-family: 'FuturaStd';
        
        margin-top: calculate(0)!important;
        h1{
            text-align: center;
            font-size: calc(100vw*(120/var(--width_base)));
            line-height: calc(100vw*(250/var(--width_base)));
        }
    
    }

    .zigzag {
        height: calculate(900)!important;
    }
    
    
    .text-politicas{
        padding-top: calc(100vw*(400/var(--width_base)))!important;
        padding-bottom: calc(100vw*(163/var(--width_base)));
        font-family: 'FuturaStd';
        font-weight: 400;
    
      }
  }