
@media only screen and (max-width: 768px) {

    
    .text-politicas{
        
        padding-bottom: calc(100vw*(163/var(--width_base)));
        font-family: 'FuturaStd';
        font-weight: 400;
    
      }
  }