@media only screen and (max-width: 768px) {
  .prensa_section2 .container:first-child {
    flex-wrap: wrap;
    row-gap: calculate(20);
    .row-etiquetas {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: calculate(10);
      overflow: hidden;
    }
    .row-buscador {
      flex-wrap: wrap;
      gap: calculate(10);
    }
  }

  .prensa_section2 .container:last-child {
    flex-wrap: wrap;
    row-gap: calculate(20);
    .slider-blog {
      flex-wrap: wrap;
      gap: calculate(20);
      justify-content: center;
      .card-blog {
        width: calculate(351) !important;
      }
    }
  }

  .section-prensa .content-prensa {
    flex-direction: column;
    row-gap: calculate(30) !important;
    .prensa-1 {
      padding: calculate(5);
      width: 100%;
      .img-destacada {
        width: calculate(358) !important;
      }
      .texto-prensa {
        padding: calculate(4);

      }
    }
  }

  .trabaja-head:before,
  .trabaja-head:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    background: linear-gradient(
        45deg,
        transparent 33.333%,
        var(--dark-blue) 33.333%,
        var(--dark-blue) 66.667%,
        transparent 66.667%
      ),
      linear-gradient(
        -45deg,
        transparent 33.333%,
        var(--dark-blue) 33.333%,
        var(--dark-blue) 66.667%,
        transparent 66.667%
      );
    background-size: 15px 40px;
  }

  .trabaja-head:before {
    top: calculate(-100);
  }

  .trabaja-head:after {
    top: calculate(222);
    transform: rotate(180deg);
    margin-left: calculate(-1);
  }
}
