.section-productos{
    .general-banner-img{
        width: 100%;
        height: calc(100vw*(550/var(--width_base))) !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
    }
    .container-full{
        margin-top: calculate(145);
    }
    .pdt-productos{
        padding-top: calculate(70);
        padding-bottom: calculate(70);
    }
    .row-icon-productos{
        width: calculate(1256);
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .card-icon{
        .circle-icon img{
            width: calculate(70);
            height: auto;
            margin: auto;
        }
        p{
            color: var(--color-blue);
            font-family: 'FuturaStd';
            font-style: normal;
            font-weight: 600;
            font-size: calculate(22);
            line-height: calculate(33);
            text-align: center;
            margin-bottom: 0px !important;
            margin-top: calculate(18);
        }
        width: calculate(133);
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        cursor: pointer;
        .circle-icon{
            width: calculate(123);
            height: calculate(123);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            transition: all 0.2s ease-in;
        }
        
    }
    .card-icon::after{
        border: 4px dotted var(--color-red-btn);
        content: '';
        width: calculate(143);
        height: calculate(143);
        border-radius: 50%;
        position: absolute;
        top: calculate(-10);
        visibility: hidden;
    }
    .card-icon:hover{
        .circle-icon{
            background-color: var(--color-blue);
        }
    }
    .card-icon:hover::after{
            visibility: visible;
        }
    
    .line-pick{
        width: 100%;
        margin: auto;
        padding-top: calculate(68);
        padding-bottom: calculate(68);
    }
    .bg-llena-tu-refri{
        height: calc(100vw*(301/var(--width_base))) !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
        border-radius: calculate(24);
    }
    .bg-llena-tu-refri{
        font-family: 'FuturaStd';
        padding-top: calculate(39);
        padding-left: calculate(120);
        .title{
            font-style: normal;
            font-weight: 600;
            font-size: calculate(62);
            line-height: calculate(53);
            margin-bottom: calculate(12.5) !important;
        }
        .p-subtitle{
            font-style: normal;
            font-weight: 400;
            font-size: calculate(22);
            line-height: calculate(33);
            margin-bottom: calculate(18) !important;
        }
    }
    padding-bottom: calculate(124);
}
.card-icon.active{
    .circle-icon{
        background-color: var(--color-blue);
    }
}
.card-icon.active::after{
    border: 4px dotted var(--color-red-btn);
    content: '';
    width: calculate(143);
    height: calculate(143);
    border-radius: 50%;
    position: absolute;
    top: calculate(-10);
    visibility: visible;
}