section{
    font-family: 'FuturaStd';
    
    .section-1{
        display: flex;
        justify-content: center;
        padding-top: calculate(70);
        gap: calc(100vw*(41/var(--width_base)));
        padding-bottom: calculate(50);
        .section-text{
            display: flex;
            flex-direction: column;
            width: 100%;// cambio de espacio
            gap: calculate(41);
    
            h2{
                color: var(--color-blue);
                margin: 0;
                width: calculate(450);
                font-size: calculate(72);
            }
            .description-trabajo{
                width: calculate(618);
                margin: 0;
                font-size: calculate(18);
            }

            .button-oferta{
                text-align: center;
                background-color: var(--color-red-btn);
                color: var(--color-white);
                padding: calculate(15);
                border-radius: calculate(515);
                width: calculate(218);
                height: calculate(58);
                font-weight: 600;
                font-size: calculate(18);
                font-style: normal;
                transition: all .3s ease-in-out;

                &:hover{
                    background-color: #C90002;
                    transition: all .3s ease-in-out;
                }

            }


            div{
                font-size: calculate(18);
                a{
                    color: var(--color-blue);
                    font-weight: 600;
                    text-decoration: underline !important;
                }

            }
    
        }

        figure{
            display: flex;
            justify-content: center;
            width: 100%;
            height: auto;
            img{
                width: calculate(620);
                height: auto;
            }
        }
    }

    .section-2{
       
        height: calculate(630);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
        z-index: -1;

        // img{
        //     position: absolute;
        // }

        div{
            display: flex;
            flex-direction: column;
            gap: calculate(22);
            width: calculate(720);
            height: auto;
            padding-top: calculate(200);
            padding-left: calculate(231);
            h2{
                color: var(--color-blue);
                font-size: calculate(72);
                margin: 0;
            }
    
            p{
                margin: 0;
                font-size: calculate(18);
                
            }

            a{
                background-color: var(--color-red-btn);
                color: var(--color-white);
                font-weight: 600;
                font-style: normal;
                font-size: calculate(18);
                height: calculate(58);
                width: calculate(218);
                text-align: center;
                border-radius: calculate(515);
                padding: calculate(15);
                transition: all .3s ease-in-out;
                &:hover{
                    background-color: #C90002;
                    transition: all .3s ease-in-out;
                }
            }
        }
    }

    .section-2-mobile{
        display: none;
    }
}


