
ul{
    list-style: none;
    margin: 0;
}

.site-footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: var(--color-white);
    background-color: var(--color-blue);
    font-family: 'FuturaStd';

    .footer-content-1{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: calculate(36);
        padding: calc(100vw*(94 /var(--width_base))) 0;
        .footer-first-line{
            display: flex;
            flex-direction: column;
            width: calc(100vw*(500 /var(--width_base)));
            gap: calc(100vw*(36/var(--width_base)));

            div{
                display: flex;
                flex-direction: column;
                gap: calc(100vw*(40/var(--width_base)));

                .logo-footer{
                    width: calc(100vw*(120 /var(--width_base)));
                    height: auto;
                }
            }
            .contact-redes{
                list-style: none;
                display: flex;
                margin: 0;
                gap: calc(100vw*(10/var(--width_base)));
            }

            .contact-info{
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: calc(100vw*(20/var(--width_base)));
    
                .info-text{
                    a{
                        display: flex;
                        gap: calculate(50);
                        align-items: center;
                        color: var(--color-white);
                        p{
                            
                            margin: 0;
                            font-size: calc(100vw*(16/var(--width_base)));
                        }
                    }
                }
            }
        }

        .footer-content-2{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
    
    
            .footer-menu{

                .footer-menu--option1{
                    p{
                        display: none;
                        font-size: calc(100vw*(18/var(--width_base)));
                    }
                    svg{
                        display: none;
                    }
                }
    
                ul{
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    gap: calc(100vw*(20/var(--width_base)));
                    li{
                        font-weight: 700;
                        font-size: calc(100vw*(18/var(--width_base)));
    
                    }
                }
            }
    
            .products-footer{
                .footer-menu--option2{
                    p{
                        display: flex;
                        font-size: calc(100vw*(18/var(--width_base)));
    
                    }
                    svg{
                        display: none;
                    }
                }

                ul{
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    gap: calc(100vw*(20/var(--width_base)));
                    li{
                        font-weight: 400;
                        font-size: calc(100vw*(18/var(--width_base)));
    
                    }
                }
            }
    
            .products-vale{
                .footer-menu--option3{
                    p{
                        display: flex;
                        font-size: calc(100vw*(18/var(--width_base)));
                        
                    }
                    svg{
                        display: none;
                    }
                }

                ul{
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    gap: calc(100vw*(20/var(--width_base)));
                    li{
                        font-weight: 400;
                        font-size: calc(100vw*(18/var(--width_base)));
    
                    }
                }
            }

            .products-buy{

                ul{
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    gap: calculate(20);
                    li{
                        font-weight: 700;
                        font-size: calc(100vw*(18/var(--width_base)));
    
                    }
                }
            }
    
        }
    }

    .bottom-footer{
        background-color: var(--dark-blue);
        color: var(--white-color);
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: calc(100vw*(16 /var(--width_base)));
        padding: calc(100vw*(61 /var(--width_base))) calc(100vw*(182 /var(--width_base)));
        font-weight: 600;
        .terminos-footer{
   
           ul{
               display: flex;
               gap: calculate(59);
           }
   
        }
   
   
   
      }

  
}

@media only screen and (max-width: 768px) {

    .footer-content-1{
        display: flex;
        flex-wrap: wrap;
        gap: calc(100vw*(36 /var(--width_base)))!important;

        .footer-first-line{
            width: 100vw!important;
            gap: calculate(100)!important;

            div{
                display: flex;
                flex-direction: row!important;
                align-items: center;
                justify-content: space-between;
                gap: calc(100vw*(30 /var(--width_base)))!important;
                
                    .logo-footer{
                        width: calc(100vw*(520 /var(--width_base)))!important;
                        height: auto;

                        .contact-redes{
                            gap: calculate(8);
 
                        }

                }
            }

            .contact-info{
                gap: calculate(50)!important;
                li{
                    a{
                        
                        p{
                            margin: 0;
                            font-weight: 400;
                            font-size: calc(100vw*(70/var(--width_base)))!important;
                        }
                    }
                }
            }

        }

        .footer-content-2{
            display: flex;
            flex-direction: column;
            gap: calculate(16);

            .footer-menu{
                .footer-menu--option1{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    p{
                        display: flex !important;
                        margin: 0;
                        font-size: calc(100vw*(68/var(--width_base)))!important;
                    }
                    svg{
                        display: flex !important;
                    }
                }
    
                ul{
                    display: none !important;
                    flex-direction: column;
                    margin: 0;
                    gap: calculate(17)
                    li{
                        font-weight: 600;
                        font-size: calc(100vw*(68/var(--width_base)))!important;
    
                    }
                }
            }
    
            .products-footer{
                .footer-menu--option2{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    p{
                        display: flex !important;
                        
                        margin: 0;
                        font-size: calc(100vw*(68/var(--width_base)))!important;
                    }
                    svg{
                        display: flex !important;
                    }
                }

                ul{
                    display: none!important;
                    flex-direction: column;
                    margin: 0;
                    gap: calcualte(17);
                    li{
                        font-weight: 600;
                        font-size: calc(100vw*(18/var(--width_base)));
    
                    }
                }
            }
    
            .products-vale{
                .footer-menu--option3{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    p{
                        display: flex !important;
                        margin: 0;
                        font-size: calc(100vw*(68/var(--width_base)))!important;
                    }
                    svg{
                        display: flex !important;
                    }
                }

                ul{
                    display: none!important;
                    flex-direction: column;
                    margin: 0;
                    gap: calcualte(17);
                    li{
                        font-weight: 600;
                        font-size: calc(100vw*(18/var(--width_base)));
    
                    }
                }
            }

            .products-buy{
                padding-top: calculate(46);
                ul{
                    display: flex;
                    justify-content: none !important;
                    gap: calculate(20)!important;
                    flex-direction: column;
                    margin: 0;
                    
                    li{
                        font-weight: 600;
                        font-size: calc(100vw*(68/var(--width_base)))!important;
    
                    }
                }
            }
        }

        
    }

    .bottom-footer{
        flex-wrap: wrap-reverse;
        font-size: calc(100vw*(65 /var(--width_base))) !important;
        padding: calc(100vw*(61 /var(--width_base))) calc(100vw*(182 /var(--width_base)));
        div{
            padding-top: calculate(50);
            justify-content: center!important;
            width: 100%;
            font-size: calc(100vw*(50/var(--width_base)))!important;
        }
        .terminos-footer{
   
           ul{
               display: flex;
               flex-direction: column;
               gap: calcualte(20);
               font-weight: 650;
               font-size: calc(100vw*(50/var(--width_base)))!important;
           }
   
        }
   
   
   
      }
    
}

