@media (max-width: 768px) {

  .li-compras_mov,
  .li-vales_mov,
  .li-blog_mov,
  .div_menu {
    display: none;
  }

  .navbar {
    height: auto !important;
    width: 100%;
    padding-left: calculate(0);
    padding-right: calculate(0);
    justify-content: space-between;
  }

  .navbar:after {
    margin-left: 0;
  }

  .mobile-navs {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-right: calculate(20);
  }

  .div_logo {
    width: auto;
    margin-left: calculate(20);
    margin-top: calculate(10);
  }

  .logo_sf {
    height: auto;
    width: calculate(100);
  }

  .menu_mobile {
    background-color: var(--color-white);
    display: none;
    position: fixed;
    z-index: 910;
    top: calculate(80) !important;
    right: calculate(0);
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    .list-group {
      list-style-type: none;
      padding: 0;

      .list-group-item {
        font-style: normal;
        font-weight: 600;
        font-size: calc(100vw * (20 / var(--width_base)));
        line-height: calc(100vw * (20 / var(--width_base)));
        font-family: "FuturaStd";
        border-bottom: 2px solid #daf2f8;

        a {
          color: var(--dark-blue);
        }
      }

      .li-mov-menu {
        display: flex;
        align-items: center;
        height: calculate(50);
      }

      .li-blog_mov {
        border-bottom: 1px solid #daf2f8;

        a {
          margin-left: calculate(20);
          font-style: normal;
          font-weight: 500;
          font-size: calc(100vw * (20 / var(--width_base)));
          line-height: calc(100vw * (20 / var(--width_base)));
          font-family: "FuturaStd";
          color: var(--color-blue);

          a:hover {
            color: var(--color-blue);
          }
        }
      }
    }
  }

  .arrow {
    width: calculate(14);
  }

  .div-btn-vales {
    border: 1px solid var(--color-gris);
    border-radius: 30px;
    background: #daf2f8;
    width: 95%;
    margin: 20px 10px;
  }

  .btn-vales-mov {
    font-style: normal;
    font-weight: 600;
    font-size: calc(100vw * (20 / var(--width_base)));
    line-height: calc(100vw * (20 / var(--width_base)));
    font-family: "FuturaStd";
    border-radius: 30px;
    background: transparent;
    color: var(--color-blue);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calculate(50);
  }

  .btn-vales-mov:focus {
    background: var(--color-light-blue);
    color: var(--color-blue);
  }

  .div-btn-vales .list-group .li-vales_mov {
    border-bottom: none !important;

    a {
      margin-left: calculate(20);
      font-style: normal;
      font-weight: 500;
      font-size: calc(100vw * (20 / var(--width_base)));
      line-height: calc(100vw * (20 / var(--width_base)));
      font-family: "FuturaStd";
      color: var(--color-blue);

      a:hover {
        color: var(--color-blue);
      }
    }
  }

  .div-btn-comprar {
    border: 1px solid var(--color-gris);
    border-radius: 30px;
    background: var(--color-red-btn);
    width: 95%;
    margin: 20px 10px;
  }

  .btn-comprar-mov {
    height: calculate(60);
    font-style: normal;
    font-weight: 600;
    font-size: calc(100vw * (16 / var(--width_base)));
    line-height: calc(100vw * (20 / var(--width_base)));
    font-family: "FuturaStd";
    border-radius: 30px;
    background: transparent;
    width: 100%;
    color: var(--color-white);
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-comprar-mov:focus {
    background: var(--color-red-btn);
  }

  .ico-text-btn-buy {
    display: flex;
    align-items: center;
    gap: 5px;

    svg {
      width: calculate(40);
    }
  }

  .div-btn-comprar .list-group .li-compras_mov {
    border-bottom: none !important;

    a {
      margin-left: calculate(20);
      font-style: normal;
      font-weight: 500;
      font-size: calc(100vw * (20 / var(--width_base)));
      line-height: calc(100vw * (20 / var(--width_base)));
      font-family: "FuturaStd";
      color: var(--color-white);

      a:hover {
        color: var(--color-white);
      }
    }
  }

  .submenu_mobile {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: calculate(20);
    grid-auto-rows: minmax(40px, auto);
    margin: calculate(20) 0 calculate(30) 0;
    padding: 1rem;
  }

  div.menu_mobile .submenu_mobile {
    font-family: "FuturaStd";
    font-style: normal;
    font-weight: 600;
    font-size: calculate(16) !important;
    line-height: calculate(24) !important;

    .div-one,
    .div-two,
    .div-three,
    .div-four {
      height: 100%;
      display: inline-flex;
      justify-content: flex-start;

      a {
        color: var(--color-blue);
        margin-left: calculate(20);
      }
    }
  }
}