@media (max-width: 768px) {
    :root {
        --width_base: 375;
    }

    h1 {
        font-size: calc(100vw*(45/var(--width_base))) !important;
        line-height: calc(100vw*(45/var(--width_base))) !important;
    }

    h2 {
        font-size: calc(100vw*(31/var(--width_base)));
        line-height: calc(100vw*(31/var(--width_base)));
    }

    h2 p {
        font-size: calc(100vw*(65/var(--width_base)));
        line-height: calc(100vw*(30/var(--width_base)));
    }

    .p-subtitle {
        font-size: calc(100vw*(18/var(--width_base)));
        line-height: calc(100vw*(27/var(--width_base)));
    }

    .container {
        width: 100%;
        padding: 0 1rem;
    }

    .wp-658 {
        width: 100%;
    }

    .img-sub-2 {
        right: calc(100vw * 34 / var(--width_base));
        bottom: calc(100vw * -29 / var(--width_base));
        width: calc(100vw * 124 / var(--width_base));
        height: auto;
    }

    .show-mobile {
        display: block !important;
    }

    .show-desktop {
        display: none !important;
    }

    .trabaja-head {
        font-family: 'FuturaStd';
        padding-top: calculate(45);
        height: calculate(200);

        h1 {
            color: var(--color-white);
            text-align: center;
            font-size: calc(100vw*(35/var(--width_base))) !important;
            line-height: calc(100vw*(50/var(--width_base))) !important;
        }

        &::after {
            display: none;
        }
    }
    .btn_consulta {
        padding: 10px 20px;
        background-color: #024384;
        color: #fff;
        position: fixed;
        right: 0;
        bottom: 0;
        color: #f2f2f2;
        font-family: "FuturaStd";
        font-size: calculate(15);
        font-weight: 400;
        line-height: normal;
        letter-spacing: normal;
        width: 50%;
    }
    .btn_consulta p, .btn_consulta p:hover {
        font-family: "FuturaStd" !important;
        font-size: calculate(14);
        font-weight: 400;
        line-height: normal;
        letter-spacing: normal;
        color: #fff;
        margin-bottom: 0px !important;
    }
    .cx-webchat.cx-mobile {
        top: inherit!important;
        right: inherit!important;
        bottom: 0!important;
        left: 0!important;
        height: 100%!important;
        width: 100%!important;
    }

}