.navbar{
    padding-left: calculate(182);
    padding-right: calculate(182);
    // padding-bottom: calculate(20);
    background-color: var(--color-blue);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo_sf{
  margin-top: calculate(20);
  margin-bottom: calculate(20);
  width: calculate(200);
}

.div_menu1{    
   margin-top: calculate(10);
}
.menu {
    height: 100%;
    display: flex;
    gap: calculate(46);

    .menu-item {
      height: 100%;
      color:var(--color-white);
      // width: calculate(112);
      display: inline-flex;
      align-items: end;
      justify-content: center;
      font-family: 'FuturaStd';
    font-style: normal;
    font-weight: 600;
    font-size:  calculste(22);
    line-height: calculate(100);
   

      a{
         color:var(--color-white)
      }
    }
  }

  .div_menu2{
    
    display: flex;
    justify-content: flex-end;
  }
  .menu2 {
    height: 100%;
    display: flex;
    gap: calculate(52);
    background: var(--color-white);
    padding: calculate(12) calculate(64);
    border-bottom-right-radius: 1em ;
    border-bottom-left-radius: 1em ;


    .menu2-item {
      height: 100%;
      // color:var(--color-white);
      // width: calculate(112);
      display: inline-flex;
      align-items: flex-end;
      justify-content: center;
      font-family: 'FuturaStd';
    font-style: normal;
    font-weight: 600;
    font-size:  calculste(16);
    line-height: calculate(24);
   

      a{
         color:var(--color-blue)
      }
    }
  }

  .btn-nav{
    margin-top: 20px;
    height: 45px;
    width: auto;
  }

  // .btn-nav{
  //   display: flex;
  //   align-items: center;
  //   background: transparent;
  //   border-radius: 50px;
  //   margin-top: calculate(20);
  //   font-style: normal;
  //   font-weight: 600;
  //   font-size:  calculste(22);
  //   color:var(--color-white);
  // }

  .bg-red{
    background: var(--color-red-btn);
  }

  